* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilização base do cabeçalho*/
header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

/*Definição das fontes utilizadas no cabeçalho e nas tags h2 das seções*/
header,
section h2,
section h3,
form button {
    font-family: "Bungee", cursive;
    font-weight: normal;
}

/*Definição de todas as fontes do corpo HTML a serem usadas*/
body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

/*Organização da lista do cabeçalho, itens do menu*/
header nav li {
    display: inline;
    margin-left: 16px;
    color: #ecf0f1;
    font-size: 18px;
}

/*Estilização dos itens do cabeçalho*/
header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

/*Definição do tamanho do container*/
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Posicionamento dos itens contidos no container do cabeçalho*/
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*tamanho das imagens do lista de marcas*/
.brands-list img {
    height: 24px;
}

/*Definição de display da lista de marcas e margens*/
.brands-list li {
    display: inline;
    margin-right: 8px;
}

/*definição do tipo de alinhamento de todo o container das seções*/
section .container {
    align-items: flex-start;
}

/*margem das seções*/
section {
    padding: 24px 0;
}

/*Espaçamento inferior de todas as tags H2 presentes em seções */
section h2 {
    margin-bottom: 16px;
}

/*Definição da cor de todos os textos contidos nas seção*/
section {
    color: #182c61;
}

/*margem dos paragrafos das seções*/
section p {
    margin-bottom: 8px;
}

/*Estilização de margem da imagem da fachada da loja*/
.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}


form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2d4ea8;
}

input:focus,
textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}